{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}   
<!-- Section 2 -->
<div class="section-bg-6">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/servant.jpg' %}" alt="wff" class="img-fluid d-block d-md-none full-img" />
            </div>
            <div class="col-md-6 sub-section-2">
                <div class="text-black p-3 d-flex flex-column justify-content-center align-items-start">
                    <h1 class="text-center my-4">Who are we?</h1>
                    <p class="text-justify mb-4">Weekend Food Foot is an ambitious project in theme-based catering.Football is one of the favorite sports in England, our big challenge is to combine culinary arts and football every weekend. the idea came from Aubin KOENIGSSOHN, a former professional footballer and passionate about cooking. 
                        We have a team of chefs to take you on a journey through the flavors of the world.Every detail from top to bottom has been carefully considered.
                        Take a time and visit our restaurant in Birmingham.
                    </p>
                </div>              
            </div>
        </div>
    </div>
</div>
<!-- Section 3 -->
<div class="section-bg-7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 sub-section-2">
                <div class="text-black p-3 d-flex flex-column justify-content-center align-items-start">
                    <h1 class="text-left my-4">Our team</h1>
                    <p class="text-justify mb-4 fs-5">We believe in quality, freshness and variety. Each dish is prepared with love, using the freshest ingredients to ensure an exceptional taste experience.</p>
                    <ul class="text-left">    
                        <li>Reservation : "Plan your next dining experience with us. Book a table easily online or by phone. We look forward to welcoming you."</li>
                        <li>Privat events : "Your event deserves a setting and a menu to match. Discover our personalized offers to make your event unforgettable."</li>
                        <li>Catering : "Bring the Weekend food foot signature to your next event. Explore our catering options, designed to impress your guests."</li>
                    </ul>
                </div>            
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="{% static 'images/chef_team.jpg' %}" alt="wff" class="img-fluid d-block d-md-none full-img" />
            </div>
        </div>
    </div>
</div>
{% endblock %}