{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h3>Mes réservations</h3>
    <div class="row">
        {% for reservation in reservations %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Table: {{ reservation.table_type.name }}</h5>
                    <p class="card-text">Date: {{ reservation.date|date:"d M Y" }} ({{ reservation.date|date:"l" }})</p>
                    <p class="card-text">Heure de début: {{ reservation.time|time:"H:i" }}</p>
                    <p class="card-text">Heure de fin: {{ reservation.end_time|time:"H:i" }}</p>
                    <p class="card-text">
                        Statut: <span class="{{ reservation.status_color }}">{{ reservation.get_status_display }}</span>
                    </p>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#cancelModal" data-reservation-id="{{ reservation.id }}">
                        Annuler
                    </button>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                Aucune réservation effectuée.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container my-5">
    <h3>Mes Infos</h3>
    <ul>
        <li>Nom: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>
            <a href="{% url 'password_change' %}">Modifier le mot de passe</a>
        </li>
    </ul>
    <form action="{% url 'account_delete' %}" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Supprimer mon compte</button>
    </form>
</div>

<!-- Modal reservation -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Confirmation d'annulation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir annuler cette réservation ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <form id="cancelForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal suppression compte -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer votre compte ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <form id="deleteForm" method="post" action="{% url 'account_delete' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $('#cancelModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var reservationId = button.data('reservation-id') // Extract info from data-* attributes
        var formAction = "{% url 'cancel_reservation' 0 %}".slice(0, -2) + reservationId + "/" // Construct the URL for the form action
        var modal = $(this)
        modal.find('#cancelForm').attr('action', formAction) // Update the form action
    })

    $('#deleteModal').on('show.bs.modal', function (event) {
    var form = $(this).find('form');
    var actionUrl = form.attr('action');
    var newActionUrl = actionUrl.slice(0, -1) + "{{ user.id }}"; // Utiliser l'ID de l'utilisateur pour la suppression
    form.attr('action', newActionUrl);
});
</script>
{% endblock %}
